* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #000000;
    color: #F6F6F6;
    height: 100vh;
    box-sizing: border-box;
}

.apresentacao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10% 15%;
}

h1 {
    font-family: 'Krona One', sans-serif;
    font-size: 36px;
}

strong {
    color: #22D4FD;
}

strong.meunome {
    color: #B353FF;
}

p {
    font-family:'Montserrat', sans-serif;
    font-size: 24px;   
}

.apresentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.redesSociais{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.contato {
    background-color: #22D4FD;
    color: #000000;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0; /*o primeiro valor é para altura e o segundo para largura */
    text-decoration: none;
    font-family:'Montserrat', sans-serif;
}
