/* index */
:root {
    --cor1: #000000;
    --cor2: #F6F6F6;
    --cor3: #22D4FD;
    --cor4: #B353FF;
    --cor5: #272727;

    --Montserrat:'Montserrat', sans-serif;
    --KronaOne: 'Krona One', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--cor1);
    color: var(--cor2);
    box-sizing: border-box;
}

.cabeçalho{
    padding: 1% 0% 0% 10%;
}

.menu{
    display: flex;
    gap: 80px;
}

.menu__link{
    font-family: var(--Montserrat);
    font-size: 24px;
    font-weight: 600;
    color: var(--cor3);
    text-decoration: none;
}

.apresentacao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 10%;
}

h1 {
    font-family: var(--KronaOne);
    font-size: 36px;
}

strong {
    color: var(--cor3);
}

strong.meunome {
    color: var(--cor4);
}

p {
    font-family: var(--Montserrat);
    font-size: 24px;   
}

.apresentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.redesSociais{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.redesSociais__subtitulo{
    font-family: var(--KronaOne);
    font-weight: 400;
    font-size: 24px;
}

.contato {
    color: var(--cor2);
    justify-content: center;
    gap: 16px;
    display: flex;
    width: 378px;
    text-align: center;
    border-radius: 8px;
    border: 2px solid var(--cor3);
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0; /*o primeiro valor é para altura e o segundo para largura */
    text-decoration: none;
    font-family: var(--Montserrat);
}

.contato:hover {
    background-color: var(--cor5);
}

.rodape {
    color: var(--cor1);
    background-color: var(--cor3);
    padding: 24px;
    text-align: center;
    font-family: var(--Montserrat);
    font-size: 24px;
    font-weight: 400;
}

/* sobre */






/* projetos */