/* index */
:root {
    --cor1: #000000;
    --cor2: #F6F6F6;
    --cor3: #22D4FD;
    --cor4: #B353FF;
    --cor5: #272727;

    --Montserrat:'Montserrat', sans-serif;
    --KronaOne: 'Krona One', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--cor1);
    color: var(--cor2);
    box-sizing: border-box;
}

.cabeçalho{
    padding: 3% 0% 0% 10%;
    font-size: 15%;
}

.menu{
    display: flex;
    gap: 80px;
}

.menu__link{
    font-family: var(--Montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor3);
    text-decoration: none;
}

.apresentacao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 10%;
    gap:82px;
}

h1 {
    font-family: var(--KronaOne);
    font-size: 2.25rem;
}

strong {
    color: var(--cor3);
}

strong.meunome {
    color: var(--cor4);
}

p {
    font-family: var(--Montserrat);
    font-size: 1.5rem;   
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.redesSociais{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.redesSociais__subtitulo{
    font-family: var(--KronaOne);
    font-weight: 400;
    font-size: 1.5rem;
}

.contato {
    color: var(--cor2);
    justify-content: center;
    gap: 16px;
    display: flex;
    width: 50%;
    text-align: center;
    border-radius: 8px;
    border: 2px solid var(--cor3);
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0; /*o primeiro valor é para altura e o segundo para largura */
    text-decoration: none;
    font-family: var(--Montserrat);
}

.contato:hover {
    background-color: var(--cor5);
}

.apresentacao__imagem{
    width:40%
}

.rodape {
    color: var(--cor1);
    background-color: var(--cor3);
    padding: 35px;
    text-align: center;
    font-family: var(--Montserrat);
    font-size: 1.5rem;
    font-weight: 400;
}

/* sobre */

.conteudo__descricao{
    text-align: justify;
}

/* projetos */

.introducao{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10%;
    padding-top: 68px;
    
}

.introducao__descricao{
    width: auto;
    text-align: justify;
    padding: 0% 10% 0% 0%;
}

.projeto_fatec{
    align-items: center;
    flex-direction: row;
    color: var(--cor2);
    justify-content: center;
    gap: 16px;
    display: flex;
    width: 50%;
    text-align: center;
    border-radius: 8px;
    border: 2px solid var(--cor3);
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0; /*o primeiro valor é para altura e o segundo para largura */
    text-decoration: none;
    font-family: var(--Montserrat);
    margin-left: 25%;
}
.projeto_fatec:hover {
    background-color: var(--cor5);
}

.site{
    align-items: center;
    flex-direction: row;
    color: var(--cor2);
    justify-content: center;
    gap: 16px;
    display: flex;
    width: 50%;
    text-align: center;
    border-radius: 8px;
    border: 2px solid var(--cor3);
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0; /*o primeiro valor é para altura e o segundo para largura */
    text-decoration: none;
    font-family: var(--Montserrat);
    margin-left: 25%;
}
.site:hover {
    background-color: var(--cor5);
}


@media (max-width:1200px) {
    .cabeçalho{
        padding: 10%;
    }
    .menu{
        justify-content: center;
    }
    .apresentacao{
        flex-direction: column-reverse;
        padding:5%;
    }
    .apresentacao__conteudo{
        width: auto;
    }
    .introducao{
        padding:5%;
         width: auto;
    }
    .projeto_fatec{
        align-items: center;
        flex-direction: row;
        color: var(--cor2);
        justify-content: center;
        gap: 16px;
        display: flex;
        width: 50%;
        text-align: center;
        border-radius: 8px;
        border: 2px solid var(--cor3);
        font-size: 1.5rem;
        font-weight: 600;
        padding: 21.5px 0; /*o primeiro valor é para altura e o segundo para largura */
        text-decoration: none;
        font-family: var(--Montserrat);
        margin: 0 20%;
    }
    .projeto_fatec:hover {
        background-color: var(--cor5);
    }
    .site{
        align-items: center;
        flex-direction: row;
        color: var(--cor2);
        justify-content: center;
        gap: 16px;
        display: flex;
        width: 50%;
        text-align: center;
        border-radius: 8px;
        border: 2px solid var(--cor3);
        font-size: 1.5rem;
        font-weight: 600;
        padding: 21.5px 0; /*o primeiro valor é para altura e o segundo para largura */
        text-decoration: none;
        font-family: var(--Montserrat);
        margin: 0 20%;
    }
    .site:hover {
        background-color: var(--cor5);
    }
}
